#mapDiv {
  top: 0;
}

.hero-wrap {
  z-index: 3 !important;
  @include angle(after);
  &:after {
    background-color: #092d40;
    background-image: url(../../images/slate-bottom-angle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero-secondary {
  opacity: 0;
  transform: translateY(20px);
}

.slateimg {
  min-height: 500px;
}

#text-intro {
  @include tablet-portrait-and-up {
    min-height: 150px;
  }
}

.hero-inner {
  position: absolute;
  top: 8rem;
  left: 50%;
  z-index: 8;
  transform: translateX(-50%);
  color: white;
  width: 96%;
  @include tablet-portrait-and-up {
    padding: 3rem 0 6rem;
    max-width: 1150px;
  }
  @media(min-width: 1100px) {
    top: 9rem;
  }

  h2 {
    margin-top: calc((1.5rem - 2.125rem) + 1.5rem);
  }
  .h5-blue-caps.md-hide {
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
  .gold-text {
    color: $gold-on-blue !important;
  }
  a {
    color: $white-btn-hover-on-dark !important;
		font-weight: bold;
  }
}

.home-hero {
  .hero-inner {
    max-width: 390px;
    @include tablet-portrait-and-up {
      max-width: 1150px;
    }
  }
  .h5-blue-caps.line:after {
    left: 4rem;
    top: -20px;
  }
}

.counter {
  li {
    counter-increment: number-counter;
    position: relative;
    margin-bottom: 15px;
    line-height: 1.25;
    font-weight: 600;
    font-size: 21px;
    border-bottom: 1px solid $font-light-blue;
    padding-left: 2.3rem;
    padding-bottom: 0.5rem;
    &:before {
      content: "0" counter(number-counter) ".";
      color: white;
      font-weight: 700;
      height: 100%;
      margin-right: 1rem;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
