.pre-footer-icon {
  max-width: 60px;
}

.pre-footer-box {
  z-index: 2;
  position: relative;
  color: inherit;
  display: flex;
  @media(min-width: 640px) {
    padding: 0 2rem;
  }
  h3 {
    margin: 10px 0 0;
  }

}

.pre-footer-box, .feature-card .box-inner {
  transition: 0.2s ease-in-out;
  transform: translateY(0);

  &:hover {
    transition: 0.25s ease-in-out;
    transform: translateY(-3px);
  }
}

.box-white {
  background-color: white;
}

.box-inner {
  width: 100%;
  color: inherit;
}

.box-blu-blk {
  background-color: $blue-black;
  color: $light-blue-gray;

}

.border-top {
  border-top: 8px solid;
}

.border-gold {
  border-color: $gold;
}

.pre-footer-blue {
  background-color: $teal;
}

.pre-footer-dkblue {
  background-color: $dark-gray;
}

.pre-footer-gold {
  background-color: $gold;
}

.pre-footer {
  padding: 1rem 0 9rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  @include tablet-portrait-and-up {
    padding-top: 5rem;
    margin-bottom: -20px;
    margin-top: -10px;
  }
}

.pre-footer-home {
  background-color: $font-black;
  padding-bottom: 3rem;
  padding-top: 0;
  margin-top: -80px;
  z-index: 3;
  margin-bottom: 4.5rem;
  transform: skewY(-5deg);
  &.top-slant {
    @media(min-width: 1800px) {
      &:before {
        top: -20%;
      }
    }
  }
  .wrapper {
    transform: skewY(5deg);
    z-index: 2;
    margin-top: -3vw;
    margin-bottom: -3vw;
    flex-wrap: wrap;
    @media(min-width: 768px) {
      flex-wrap: inherit;
    }
  }
}

.home-box-wrap {
  .pre-footer-box {
    width: 100%;
  }
}

// Feature card styles
.date-category {
  margin: 0.75rem 0;
	font-size: 19px;
}

.feature-card {
  display: flex;
  h2 {
		font-size: 1.57rem;
    margin-top: calc((1.5rem - 1.57rem) + 1.5rem*2);
    font-weight: normal;
    margin: 0.5rem 0;
		@media (min-width: 52em){
	    font-size: 1.875rem;
		}
  }
}

.home-pf-copy {
  z-index: 4;
  color: white;

  .gold-text {
    color: $gold-on-blue !important;
  }
}

.overlay-pf-blue:after {
  background-color: rgba(0, 38, 58, 0.8);
}
