html {
  font-size: 15px;
  @include tablet-portrait-and-up {
    font-size: 16px;
  }
}
body {
  @include text(normal, $font-regular);
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1rem;
  line-height: 1.25;
  letter-spacing: 1px;
}

h1 {
  font-size: $h2-sm;
  // line-height: $h2;
  // margin-top: calc((#{$baseline} - #{$h2-sm}) + #{$baseline}*2);
  @include text(300, $font-oswald);
  @include tablet-portrait-and-up {
    font-size: $h2-lg;
  }
}

.h1-home {
  font-size: $h1-sm;
  line-height: 1.15;
  letter-spacing: 2px;
  max-width: 55%;
  margin-top: calc((#{$baseline} - #{$h1-sm}) + #{$baseline});
  @include text(normal, $font-oswald);
  @include tablet-portrait-and-up {
    font-size: $h1-lg;
  }
  span {
    display: block;
  }
}

h2 {
  font-size: $h2-sm;
  // line-height: $h2;
  margin-top: calc((#{$baseline} - #{$h2-sm}) + #{$baseline}*2);
  @include text(300, $font-oswald);
  @include tablet-portrait-and-up {
    font-size: $h2-lg;
  }
}

.h2 {
  font-size: $h2-sm;
  // line-height: $h2;
  margin-top: calc((#{$baseline} - #{$h2-sm}) + #{$baseline}*2);
  @include text(300, $font-oswald);
  @include tablet-portrait-and-up {
    font-size: $h2-lg;
  }
}

h3 {
  font-size: $h3-sm;
  margin-top: calc((#{$baseline} - #{$h3-sm}) + #{$baseline}*2);
  @include text(normal, $font-oswald);
  @include tablet-portrait-and-up {
    font-size: $h3-lg;
  }
}

.h3-blue {
  color: $light-blue-gray;
  font-size: $h4-sm;
  @include text(700, $font-regular);
  @include tablet-portrait-and-up {
    font-size: $h4-lg;
  }
}

h4 {
  font-size: $h4-sm;
  // line-height: $h4;
  margin-top: calc((#{$baseline} - #{$h4-sm}) + #{$baseline}*2);
  @include text(normal, $font-oswald);
  @include tablet-portrait-and-up {
    font-size: $h4-lg;
  }
}



.h5-pre-footer {
  font-size: $h5-sm;
  line-height: 1.25;
  margin-top: $h6-sm;
  @include text(normal, $font-oswald);
  @include tablet-portrait-and-up {
    font-size: $h3-lg;
  }
}

h5 {
  font-size: $h5-sm;
  // line-height: $h5;
  margin-top: calc((#{$baseline} - #{$h5-sm}) + #{$baseline}*2);
  @include text(700, $font-regular);
  @include tablet-portrait-and-up {
    font-size: $h5-lg;
  }
  text-transform: uppercase;
}

h6 {
  font-size: $h6-sm;
  // line-height: $h6;
  margin-top: calc((#{$baseline} - #{$h6-sm}) + #{$baseline}*2);
  @include text(700, $font-regular);
  text-transform: uppercase;
  @include tablet-portrait-and-up {
    font-size: $h6-lg;
  }
}

.h5-blue-caps {
  margin-bottom: 6px;
  font-size: 25px;
  @include text(700, $font-regular);
  color: #8CB6C5;
}


.h5-lowercase {
  text-transform: none;
  @include text(normal, $font-regular);
}

.gold-text {
  color: $gold !important;
}

.teal-text {
  color: $teal;
}

.light-gold-text {
  color: $light-gold;
  font-weight: bold;
}


.white-text {
  color: white;
}

p, a {
  font-size: 15px;
  line-height: 1.5;
  @include tablet-portrait-and-up {
    font-size: 16px;
  }
}
