.search-input {
  display: block;
  width: 100%;
  max-width: 320px;
  background-color: #e7e6e5;
  padding: 9px 0 9px 10px;
  border: none;
  outline: none;
}

.search-icon {
  background-image: url(../../images/icon_search.svg);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 97%;
}

.searchform {
  align-items: flex-end;
  display: flex;
  max-width: 320px;
  .btn {
    max-width: 100%;
  }
}

#search-submit {
  height: 46.5px;
  line-height: 1;
  margin-left: 1em;
}

.search-wrap {
  @include tablet-portrait-and-up {
    padding-top: 2.5rem;
  }
  @media(min-width: 1300px) {
    padding-top: 4rem;
  }
}

.search-right {
  @include tablet-portrait-and-up {
    padding-left: 3.5rem;
  }
}

.forgot {
  a:hover {
    color: lighten($flat-blue, 20%);
  }
}

.search-results {
  #js-img-height {
    height: 300px !important;
    min-height: 0;
  }
  #js-hero-height {
    padding-bottom: 0;
  }
} 

@media screen and (min-width: 1600px) {
  .search-results #js-img-height {
    height: 19vw !important;
  }
}