//  ==========================================================================
//  Variables
//  ==========================================================================


//  Colors
//  ==========================================================================

$font-black: #00263A;
$font-light-blue: #9FC4CF;
$blue-black: #1B3B4C;
$flat-blue: #0077a8;
$teal-blue-gray: #137CA1;
$light-blue-gray: #78A9BA;
$dark-blue-gray: #637F92;
$white-btn-hover-on-dark: #bdbdbd;
$blue-btn-hover-on-dark: #637F92;
$gray-btn-hover: #637E91;
$teal: #24A4CA;
$brown: #9D6F3C;
$gray: #DBD5CD;
$light-gray: #F2EDEA;
$dark-gray: #00263A;
$gold: #a0703b;
$light-gold: #B38B61;
$gold-on-blue: #C3A583;
$form-gray: #e7e6e5;



//  Typography
//  ==========================================================================

$baseline: 1.5rem;

// $minScreen: 20rem;
// $maxScreen: 70rem;
// $minFont: 1rem;
// $maxFont: 1.75rem;

$h1-sm: 2.125rem;
$h2-sm: 1.875rem;
$h3-sm: 1.57rem;
$h4-sm: 1.25rem;
$h5-sm: 1.25rem;
$h6-sm: 1rem;


$h1-lg: 4.25rem;
$h2-lg: 2.5rem;
$h3-lg: 1.875rem;
$h4-lg: 1.25rem;
$h5-lg: 1.57rem;
$h6-lg: 1.25rem;

$font-oswald: 'Oswald', sans-serif;
$font-regular: 'Source Sans Pro', sans-serif;
