blockquote {
  border-left: none;
}

.blockquote {
  max-width: 40em;
  color: #649CAF;
  span {
    font-size: 24px;
    &:before, &:after {
      content: url(../../images/quote-left.svg);
      position: absolute;
      top: -45px;
      left: 10px;
      width: 45px;
      height: 45px;
      transform: translateX(-50%);
      @include tablet-portrait-and-up {
        top: 12px;
        left: -79px;
        width: 67px;
        height: 60px;
        transform: translateX(0);
      }
    }
    &:after {
      content: url(../../images/quote-right.svg);
      top: auto;
      left: auto;
      bottom: -10px;
      right: 0px;
      transform: translateX(0);
      @include tablet-portrait-and-up {
        top: auto;
        left: auto;
        bottom: 10px;
        right: -77px;
      }
    }
  }
}

.blockquote-copy {
  line-height: 1.4;
}

.blockquote-cite {
  margin: 20px auto 0;
  font-style: normal;
  color: $font-black;
  @include text(700, $font-regular);
}
