//  ==========================================================================
//  Global Settings
//  ==========================================================================

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-weight: 400;
  position: relative;
  color: $font-black;
  @include antialiased;
}

li {
  letter-spacing: 1px;
}

.wrapper {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1150px;
  padding: 0 1rem;
}

.mobile-show {
  display: block;
  @include tablet-portrait-and-up {
    display: none !important;
  }
}

.hidden-mobile {
  display: none;
  @include tablet-portrait-and-up {
    display: block;
  }
}

.shadow-border {
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.35);
}

a {
  color: $flat-blue;
}

img {
  width: 100%;
  height: auto;
}

.my6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.line {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    width: 50px;
    height: 6px;
  }
}

.line-gold:after {
  background-color: $gold;
}

.line-long:after {
  width: 90px;
}

.push-right {
  @include tablet-portrait-and-up {
    padding-left: 50%;
  }
}

.gold-overlay, .overlay-gold {
  position: relative;
  &:after {
    background-color: rgba(136, 113, 88, 0.76);
    content: ' ';
    position: absolute;
    z-index: 0 !important;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .wrapper {
    z-index: 3;
    position: relative;
  }
}

.no-pad-side {
  padding: 0;
}

.md-col-2-5 {
  @media(min-width: 52em) {
    width: 20%;
  }
}

.big-num {
  font-size: 4rem;
  line-height: 1;
  float: right;
  margin-right: 1.5rem;
  @include text(400, $font-oswald);
}

.stats-font-style {
  vertical-align: middle;
  display: table-cell;
  font-size: $h4-sm;
  color: white;
  line-height: 1.2;
  width: 63%;
  @include text(regular, $font-oswald);
}

.stats {
  li {
    border-bottom: 1px solid #012639;
    width: 100%;
    &:last-child {
      border: none;
    }
  }
}

.text-elem {
  color: rgba(255,255,255, 0.3);
  transition: color 0.25s ease-in-out;
  opacity: 0;
}

.icon-circle {
  max-width: 50px;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    background-color: white;
    opacity: 0.6;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
  }
  img {
    vertical-align: bottom;
    z-index: 5;
    position: relative;
  }
}

.mission-list {
  display: block !important;
}
