.content-box-wrapper {
  padding: 3rem 4rem;
  margin-top: 7rem;
  background-color: rgba(255,255,255, 0.85);
  overflow: hidden;
  @include below-tablet-portrait {
    width: 96%;
    padding: 5rem 2rem;
    margin-top: 2.5rem;
  }

  h2 {
    margin-top: 12px;
    color: $gray-btn-hover;
  }
  h5 {
    color: $flat-blue;
  }
}

.animsition {
  overflow-x: hidden;
}