.navbar-fixed-top {
  height: 60px;
  border: none;
  z-index: 1061;
  @include below-tablet-portrait {
    width: 100%;
  }

  .navbar-collapse {
    white-space: nowrap;
    @include below-tablet-portrait {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
    }
  }
}

.navbar {
  opacity: 0;
  top: -20px;
  .container-fluid {
    @include below-tablet-portrait {
      background-color: #637E91;
      position: relative;
    }
  }
  .row {
    position: relative;
    z-index: 2;
  }
}

.navbar-header {
  @include below-tablet-portrait {
    display: inline-block;
    width: 100%;
    height: 60px;
  }
}

.nav-show {
  transition: all 1.5s ease;
}

.nav-z {
  z-index: 1;
  transition: 0 !important;
}

.logo-mobile {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;

  a {
    display: block;
    max-width: 170px;
    margin: 0 auto;
  }
}

.navbar-toggle {
  margin-top: 12px;
}

.nav-close {
  margin-top: 7px;
}

.card-wrapper {
  width: 100%;
}

.navbar-inverse {
  @include tablet-portrait-and-up {
    height: 95px;
  }
  .navbar-nav {
    float: none;
    margin: 0;
    @include tablet-portrait-and-up {
      padding: 0.5em 0 0 0;
      text-align: right;
      height: 60px;
    }

    li:nth-last-child(2) {
      padding-right: 0;
      margin-right: 0;
    }

    > li {
      text-transform: uppercase;
      @include below-tablet-portrait {
        border-bottom: 1px solid #cccccd;
        padding: 10px 0;
      }
      @include tablet-portrait-and-up {
        padding: 10px 10px 0;
      }
      @include tablet-landscape-and-up {
        padding: 10px 15px 0;
      }
      &:hover {
        @include below-tablet-portrait {
          background-color: $light-gray;
        }
      }
      &.no-hover {
        background-color: white;
        padding: 0;
        border: none;
      }
      @include tablet-portrait-and-up {
        float: none;
        display: inline-block;
        padding-top: 10px;
        margin: 2px 5px;
      }
      @include tablet-landscape-and-up {
        margin: 0 12px;
      }
      @media (min-width: 1200px) {
        margin: 0 18px;
      }
      > a {
          color: $font-black;
          position: relative;
          @include tablet-portrait-and-up {
            padding: 0;
            color: $light-gray;
          }

          &:hover, &:active, &:focus, &:visited {
            @include below-tablet-portrait {
              color: $font-black;
              background-color: transparent;
            }
          }
        }
    }
  }
}


.navbar-fixed-top .navbar-collapse {
  border: none;
  @include tablet-portrait-and-up {
    max-height: 100%;
  }
}


.nav-wrap {
  display: flex;
  background-color: white;
  @include tablet-portrait-and-up {
    height: 100%;
    background-color: transparent;
  }
}

.item-wrap {
  width: 100%;
  padding-bottom: 3rem;
  background-color: white;
  @include tablet-portrait-and-up {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    background-color: transparent;
  }
}

.upper-nav-container-desktop {
  margin-top: 10px;
  align-self: flex-end;
  li {
    display: inline;
  }
}

.upper-nav {
  margin-top: 0;
  margin-bottom: 10px;
  li {
    line-height: 20px;
    padding: 10px 0 15px 20px;

    a {
      color: $font-light-blue;
      transition: 0.25s ease;

      &:hover {
        text-decoration: none;
        color: white;
        transition: 0.25s ease;
      }
    }
  }
}

.upper-nav-container-mobile {
  list-style: none;
  padding-left: 0;
  li {
    padding: 10px 0 10px 15px;
    border-bottom: 1px solid #cccccd;

    &:hover {
      @include below-tablet-portrait {
        background-color: $light-gray;
      }
    }
    a {
			font-weight: bold;
			color: black;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
      display: block;
      text-transform: none;
    }
		a:hover {
			color: $font-light-blue;
		}
  }
}

.nav-link {
  @include text(300, $font-oswald);
  @include tablet-portrait-and-up {
    position: relative;
    letter-spacing: 1px;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -4px;
      height: 2px;
      width: 0;
      background: white;
      transition: all 0.25s ease;
    }
    &:hover:after {
      left: 0;
      width: 100%;
      transition: all 0.25s ease;
    }
  }
}

.nav-active a {
  &:after {
    left: 0;
    width: 100%;
  }
}

.menu-close-icon {
  width: 25px;
  margin-left: 5px;
}

.shaded {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.35s ease-in-out;
  background-color: rgba(27, 59, 76, .75);
}

.hidden {
  display: none;
}

.logo-wrap {
  color: white;
  @include tablet-portrait-and-up {
    justify-content: flex-start;
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    position: absolute;
    left: 10px;
    bottom: 3px;
  }
  h1 {
    text-indent: -9999px;
    position: absolute;
    left: -999px;
    opacity: 0;
  }
}

.icon-logo {
  width: 100px;
  height: 100%;
  margin-top: 5px;
  transition: max-width 0.25s ease;
  @include tablet-portrait-and-up {
    width: 150px;
    margin-top: 14px;
    max-height: 67px;
  }
  // @include tablet-landscape-and-up {
  //   width: 180px;
  // }
}

.locked {
  overflow: hidden;
}

// Styles for the mobile slide-out menu
@include below-tablet-portrait {
  .side-collapse-container{
    width:100%;
    position:relative;
    left:0;
  }
  .side-collapse {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 600px;
    position: fixed;
    overflow: scroll;
    z-index: 3;
    transition-delay: 0.1s;
    transition: 0.45s ease-out;
    transform: translate(0);
  }
  .side-collapse.in {
    left: -100%;
    transition: 0.4s ease-out;
    transform: translateX(-100%);
  }
}

.investor-nav {
  color: $font-light-blue;
}

.page-skipLink {
  display: block;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: -2em;
  background: #012130;
  color: #ffffff;
  z-index: 1062; /* sic */
  transition: top 0.5s ease-in-out;
  text-decoration: none;
}
